@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* color */
  --txtcolor: #c9c6c6;
  --txtdecor: #00f;
}

body {
  background-image: url(./bgimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #fff;
  font-family: "Space Grotesk", sans-serif;
  padding: 5px;
  color: var(--txtcolor);
}

nav li {
  list-style-type: none;
}

nav h1 {
  font-weight: 900;
  font-size: 32px;
}

.login-container1 {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txtcolor);
}

.login-container2 {
  width: 70%;
  padding: 20px;
}

.login-pages {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}

.login-pages :any-link {
  text-decoration: none;
  color: var(--txtcolor);
}

.login-pages :is(a:hover, a:focus) {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  text-decoration-color: var(--txtdecor);
}

.login-form {
  /*  border: 1px solid #fff;
  border-radius: 10px; */
  width: 100%
  padding: 10px;
}

.input-text {
  display: block;
  padding: 5px;
}

.input-ta {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px;
  border-radius: 50px;
  background-color: hsla(0, 0%, 100%, 0.231);
}

.input-ta::placeholder {
  color: #1a1919;
}

.input-checkbox {
  padding: 10px;
  border: 1px;
}

.btn-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-btn {
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  border: 1px;
  border-radius: 50px;
  background-color: rgb(6, 6, 82);
  color: var(--txtcolor);
}

hr {
  margin: 50px 0 50px 0;
}

.fgpassword {
  text-align: center;
}

.fgpassword :any-link {
  text-decoration: none;
  color: var(--color);
}

.fgpassword :is(a:hover, a:focus) {
  text-decoration: underline;
  text-decoration-color: var(--txtdecor);
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  color: var(--txtcolor);
}

/* media quarys */
@media screen and (min-width: 576px) {
  .login-form {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {
  .login-container1 {
    width: 100%;
    height: 96vh;
  }

  .login-bg {
    background-color: hsla(0, 2%, 10%, 0.667);
  }
  
  .input-btn{
    width: 50%;
  }
}
